.not-found {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;
}

.whoops {
    font-size: 55px;
    font-weight: 700;
}

.details {
    margin-top: 50px;
    font-size: 20px;
    width: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.emoji {
    width: 40px;
    align-self: center;
}

