@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&family=Jost:wght@300;400;500;600;700&display=swap');


body {
    font-family: 'Jost', sans-serif;
    background-color: #fafafa!important;
}

img { 
    pointer-events: none;
}

a {
    text-decoration: none;
}

b {
    font-weight: 700;
}

button > a {
    color: #fff;
}

a:hover {
    color: rgb(3, 193, 44);
    transition: 100ms;
}

