




/* Header section */

.cover {
    height: 700px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
}

.navigation {
    display: flex;
    justify-content: space-around;
    border-top: 8px solid #04991C;
}

.icon {
    width: 30px;
    height: 30px;
}

.navigation-socials {
    margin-left: 30px;
    margin-top: 20px;
}

.navigation-socials__link {
    margin: 10px;
}

.navigation-content {
    margin-right: 30px;
    font-family: 'Jost', sans-serif;
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
}

.navigation-content__link {
    font-size: 20px;
    text-decoration: none;
    color: #303030;
    font-weight: bold;
    margin: 10px;
}

/* First screen styles */

.cover-info {
    display: flex;
    justify-content: center;
    width: 85%;
    align-self: center;
    margin-top: 100px;
}

.cover-info__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 500px;
}

.cover-img {
    width: 600px;
    transform: scale(1.1);
    transform: translate(0, -10%);
}

.company-name  {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 60px;
    line-height: 50px;
    text-transform: uppercase;
    color: #057C27;
    text-shadow: 9px 15px 43px rgba(0, 0, 0, 0.17);
}

.company-descr {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 27px;
    margin-top: 30px;
}

.learn-more {
    color: #fff;
    font-family: 'Jost', sans-serif;
    background-color: #057C27;
    border: none;
    border-radius: 15px;
    padding: 17px 35px;
    font-size: 20px;
    font-weight: 500;
    margin-top: 30px;
    box-shadow: 0px 4px 19px rgba(0, 0, 0, 0.25);
}

.stats {
    background: #fff;
    align-self: center;
    display: flex;
    justify-content: space-evenly;
    width:75%;
    min-height: 150px;
    border-radius: 25px;
    margin-top: 50px;
    box-shadow: 0px 0px 100px -26px rgba(0, 0, 0, 0.25);
    font-family: 'Jost', sans-serif;
}

.stats__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    justify-content: center;
    height: 90%;
}

.stat-number {
    font-size: 50px;
    font-weight: bold;
}

.stat-descr {
    font-size: 20px;
    font-weight: 500;
}

.middle {
    padding: 0 60px;
    border-left: #bebebe solid 2px;
    border-right: #bebebe solid 2px;
}

.years {
    color: #057C27;
}

.works {
    color: #0AA737;
}

.clients {
    color: #00c538;
}

